.site-nav__wrapper {
  background-color: $bg-darkblue;
  border-top: 2px solid $bg-darkblue;
  box-sizing: border-box;
  border-bottom: none;
}

//.site-nav {
//  display: flex;
//  justify-content: space-between;
//}

.site-nav__wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-list {
  display: flex;
  @include reset-list;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.site-list__item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  line-height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  &:hover {
    background-color: #ffffff;
    color: $bg-darkblue;
  }
  &:focus {
    background-color: #ffffff;
    color: $bg-darkblue;
  }
}

.site-list__item--parrent a {
  padding-right: 30px;
}

.site-list__item--parrent {
  position: relative;
  z-index: 5;
  &::before {
    content: "";
    position: absolute;
    top: 29px;
    right: 15px;

    width: 1px;
    height: 7px;
    transform: rotate(45deg);

    background-color:  #ffffff;
    color: $bg-darkblue;
  }
  &::after {
    content: "";
    position: absolute;
    top: 29px;
    right: 20px;

    width: 1px;
    height: 7px;
    transform: rotate(-45deg);

    background-color:  #ffffff;
    color: $bg-darkblue;
  }
  &:hover {
    &::before {
      background-color: $bg-darkblue;
    }
    &::after {
      background-color: $bg-darkblue;
    }
  }
  &:focus {
    &::before {
      background-color: $bg-darkblue;
    }
    &::after {
      background-color: $bg-darkblue;
    }
  }
}

.site-list-inside__list {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;

  width: 255px;

  list-style: none;
  color: $bg-darkblue;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  border-radius: 0 0 5px 5px;
}


.site-list__item--parrent {
  &:hover {
    background-color: #ffffff;
    a {
      color: $bg-darkblue;
    }
    .site-list-inside__list  {
      display: block;
    }
  }
  //&:focus {
  //  .site-list__catalog  {
  //    display: block;
  //  }
  //}
}

.site-list-inside__item a {
  cursor: pointer;
  padding: 0;
  margin: 0;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    background-color: $bg-lightblue;
    color: #ffffff;
  }
  &:focus {
    background-color: $bg-lightblue;
    color: #ffffff;
  }
}

.site-list-inside__item {
  border-top: 1px solid #cdcdcd;
}

.site-list-inside li {
  &:first-child {
    border: none;
  }
}

.site-nav__buttons {
  position: relative;
}

.site-nav__button {
  cursor: pointer;
  position: relative;
  margin-right: 20px;

  display: block;
  width: 60px;
  height: 60px;
  background-color: $bg-darkblue;
  border: 0;
  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }
  &:hover {
    background-color: #ffffff;
    &::before {
      background-color: $bg-darkblue;
      box-shadow: 0 8px 0 0 $bg-darkblue, 0 16px 0 0 $bg-darkblue;
    }
  }
}

.button-list {
  z-index: 5;
  cursor: pointer;
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 20px;

  width: 255px;

  list-style: none;
  color: $bg-darkblue;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  border-radius: 0 0 5px 5px;
}

.site-nav__buttons {
  &:hover {
    .site-nav__button {
      background-color: #ffffff;
      &::before {
        background-color: $bg-darkblue;
        box-shadow: 0 8px 0 0 $bg-darkblue, 0 16px 0 0 $bg-darkblue;
      }
    }
    .button-list  {
      display: block;
    }
  }
  &:focus {
    .button-list {
      display: block;
    }
  }
}

.button-list__item a {
  display: block;
  padding-left: 25px;
  text-decoration: none;
  color: $bg-darkblue;
  &:hover {
    background-color: $bg-lightblue;
    color: #ffffff;
  }
}

.button-list__item {
  border-top: 1px solid #cdcdcd;
}

.button-list li {
  &:first-child {
    border: none;
  }
}


@media (max-width: 650px) {
  .site-nav__wrapper .container {
    display: inline-block;
  }
  .site-list {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .site-list__item a {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #444444;
  }
  .site-list-inside__list {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  .site-nav__buttons {
    flex-grow: 1;
  }
  .button-list {
    position: relative;
    right: 0;
    z-index: 1;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .site-list__item {
    position: relative;
    z-index: 5;
    &::before {
      content: "";
      position: absolute;
      top: 29px;
      right: 20px;

      width: 1px;
      height: 7px;
      transform: rotate(45deg);

      background-color:  #ffffff;
      color: $bg-darkblue;
    }
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      right: 20px;

      width: 1px;
      height: 7px;
      transform: rotate(145deg);

      background-color:  #ffffff;
      color: $bg-darkblue;
    }
    &:hover {
      &::before {
        background-color: $bg-darkblue;
      }
      &::after {
        background-color: $bg-darkblue;
      }
    }
    &:focus {
      &::before {
        background-color: $bg-darkblue;
      }
      &::after {
        background-color: $bg-darkblue;
      }
    }
  }
  .site-list__item--parrent {
    position: relative;
    z-index: 5;
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: 25px;

      width: 5px;
      height: 5px;
      border-radius: 50%;
      transform: none;

      background-color: #a8c2ca;
      box-shadow: 0 8px 0 0 #a8c2ca, 0 16px 0 0 #a8c2ca;
    }
    &::after {
      display: none;
    }
    &:hover {
      &::before {
        background-color: $bg-darkblue;
        box-shadow: 0 8px 0 0 $bg-darkblue, 0 16px 0 0 $bg-darkblue;
      }
    }
    &:focus {
      &::before {
        background-color: $bg-darkblue;
        box-shadow: 0 8px 0 0 $bg-darkblue, 0 16px 0 0 $bg-darkblue;
      }
    }
  }
  .toggle-status--nojs {
    display: none;
  }
}


