.slider {
  position: relative;
}

.slide .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  min-height: 550px;
}

.slide {
  background-color: #918c81;
}

.slide1 {
  background-image: url("../../img/slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide2 {
  background-image: url("../../img/slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__header {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;

  font-size: 50px;
  line-height: 50px;
  color: #ffffff;
}

.slider__text {
  padding: 0;
  margin: 0;
  padding-bottom: 170px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
}

.slider__wrapper {
  position: absolute;
  display: flex;
  bottom: 60px;

  margin-left: 20px;
  margin-right: 20px;
  z-index: 2;
}

.counter {
  margin-top: 13px;
  margin-left: 20px;

  font-size: 25px;
  line-height: 25px;
  color: #ffffff;
  z-index: 1;
}


@media (max-width: 900px) {
  .slide .container {
    min-height: 490px;
  }
}

@media (max-width: 700px) {
  .slide .container {
    min-height: 400px;
  }
}

@media (max-width: 600px) {
  .slide .container {
    min-height: 350px;
  }
}

@media (max-width: 420px) {
  .slider {
    display: none;
  }
}