@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/open-sans-v17-cyrillic-300.woff2") format("woff2"),
  url("../../fonts/open-sans-v17-cyrillic-300.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/open-sans-v17-latin_cyrillic-regular.woff2") format("woff2"),
  url("../../fonts/open-sans-v17-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/open-sans-v17-cyrillic-700.woff2") format("woff2"),
  url("../../fonts/open-sans-v17-cyrillic-700.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space:nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


